<div class="contents">
  <% @posts.each do |post| %>
    <%=link_to post_path(post) do%>
    <div class="posts">

      <div class="author"><%= post.user.nickname%></div>
      <div class="title">
        <p><%= post.title %></p>
      </div>
    </div>
    <% end %>
  <% end %>
<div>