<div class="page-title">
  <p>マイページ</p>
  <%=link_to edit_user_registration_path do %>
    <i class="fas fa-id-card"><p>登録情報</p></i>
  <% end%>
</div>
<div class="contents-box">
  <% @posts.each do |post| %>
    <%=link_to post_path(post) do%>
      <div class="posts">
        <% if post.image? %>
          <%# <%= image_tag post.image.to_s %> %>
        <% end %>
        <div class="title">
          <p><%= post.title %></p>
        </div>
      </div>
    <% end %>
  <% end %>
<div>