.posts-box {
  background-color: rgba(0, 0, 0, 0.589);
  height: 700px;
  width: 70vw;
  margin: auto;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  position: relative;
  overflow: scroll;

  .posted-title {
    background-color: white;
    height: 60px;
    margin: auto;
    width: 70vw;
    border-radius: 5px;
    font-size: 25px;
    line-height: 60px;
    padding-left: 20px;
    padding-right: 20px;
    position: absolute;
    color: rgb(48, 48, 48);
    overflow: hidden;

    h2 {
      display: inline;
      color: rgb(179, 179, 179);
      margin-right: 20px;
      font-size: 20px;
      font-family: monospace;
    }
  }

  .edit-post {
    position: absolute;
    margin-top: 75px;
    right: 10px;
    display: block;
    width: 80px;
    height: 40px;
    border-radius: 5px;
    text-align: center;
    line-height: 40px;
    text-decoration: none;
    border: 1px solid rgba(1, 202, 1, 0.726);
    background-color: rgba(46, 255, 46, 0.726);
    color: white;
    font-size: 13px;
    margin-bottom: 15px;
  }

  .edit-post:hover {
    box-shadow: inset 0 0 15px rgba(0,0,0,.3);
  }

  .edit-post:active {
    box-shadow: 0 0 15px rgba(0,0,0,.3);
  }

  .delete-post {
    position: absolute;
    margin-top: 125px;
    right: 10px;
    display: block;
    width: 80px;
    height: 40px;
    border-radius: 5px;
    text-align: center;
    line-height: 40px;
    text-decoration: none;
    border: 1px solid red;
    color: white;
    font-size: 13px;
  }

  .posted-pic {
    position: absolute;
    top: 100px;
    width: auto;
    display: flex;
    justify-content: center;
    border-radius: 5px;

    img {
      border-radius: 5px;
      width: auto;
      height: auto;
      max-height: 448px;
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }

  .posted-text {
    position: absolute;
    top: 630px;
    background-color: white;
    height: auto;
    width: 100%;
    border-radius: 5px;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
    word-break: break-all;
    overflow: scroll;
    white-space: pre-wrap;
  }
}









@media screen and (max-width: 550px) {

  .posts-box {
    background-color: rgba(0, 0, 0, 0.589);
    height: 90%;
    width: 80vw;
    margin: auto;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    position: relative;
    overflow: scroll;
    padding-top: 40px;
  
    .posted-title {
      background-color: white;
      height: 30px;
      margin: auto;
      width: 80vw;
      border-radius: 5px;
      font-size: 13px;
      line-height: 30px;
      padding-left: 20px;
      padding-right: 20px;
      position: absolute;
      color: rgb(48, 48, 48);
      overflow: hidden;
  
      h2 {
        display: inline;
        color: rgb(179, 179, 179);
        margin-right: 20px;
        font-size: 10px;
        font-family: monospace;
      }
    }
  
    .edit-post {
      position: absolute;
      margin-top: 254px;
      left: 2px;
      display: block;
      width: 35px;
      height: 15px;
      border-radius: 5px;
      text-align: center;
      line-height: 15px;
      text-decoration: none;
      border: 1px solid rgba(1, 202, 1, 0.726);
      background-color: rgba(46, 255, 46, 0.726);
      color: white;
      font-size: 10px;
      margin-bottom: 15px;
    }
  
    .edit-post:active {
      box-shadow: 0 0 15px rgba(0,0,0,.3);
    }
  
    .delete-post {
      position: absolute;
      margin-top: 254px;
      left: 45px;
      display: block;
      width: 35px;
      height: 15px;
      border-radius: 5px;
      text-align: center;
      line-height: 15px;
      text-decoration: none;
      border: 1px solid red;
      color: white;
      font-size: 10px;
    }
  
    .posted-pic {
      position: absolute;
      top: 70px;
      width: auto;
      display: flex;
      justify-content: center;
      border-radius: 5px;
  
      img {
        border-radius: 5px;
        width: auto;
        height: auto;
        max-height: 200px;
        margin-top: 20px;
        margin-bottom: 20px;
        object-fit: cover;
      }
    }
  
    .posted-text {
      position: absolute;
      top: 315px;
      background-color: white;
      height: auto;
      min-height: 33%;
      width: 100%;
      border-radius: 5px;
      font-size: 10px;
      padding-left: 10px;
      padding-right: 10px;
      padding-bottom: 10px;
      word-break: break-all;
      overflow: scroll;
      white-space: pre-wrap;
    }
  }  
}