.info {
  height: 210px;
  width: 650px;
  background-color: white;
  position: absolute;
  top: 160px;
  left: 390px;
  border-radius: 20px;
  border: 2px solid black;
  
  p {
    text-align: center;
    font-size: 23px;
    margin-top: 20px;
  }

  .new_account-btn {
    display: block;
    background-color: #87CEFA;
    height: 40px;
    width: 100px;
    text-decoration: none;
    text-align: center;
    line-height: 40px;
    color: white;
    border-radius: 10px;
    margin: auto;
    margin-top: 20px;
  }
}










@media screen and (max-width: 550px) {

  .info {
    height: 190px;
    width: 80vw;
    background-color: white;
    position: absolute;
    top: 160px;
    left: 35px;
    border-radius: 20px;
    border: 2px solid black;
    
    p {
      text-align: center;
      font-size: 12px;
      margin-top: 20px;
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .new_account-btn {
      display: block;
      background-color: #87CEFA;
      height: 25px;
      width: 100px;
      text-decoration: none;
      text-align: center;
      line-height: 25px;
      color: white;
      border-radius: 10px;
      margin: auto;
      font-size: 11px;
      margin-top: 30px;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      tap-highlight-color: rgba(0, 0, 0, 0);
    }
  }
}