.update-user_form {
  background-color: white;
  height: 600px;
  width: 50vw;
  position: absolute;
  top: 160px;
  left: 360px;
  border-radius: 10px;

  .update-user_title {
    height: 50px;
    width: 400px;
    margin-top: 10px;
    margin-left: 20px;
    padding-left: 10px;
    float: left;

    p {
      font-family: sans-serif;
      font-size: 30px;
      line-height: 40px;
      border-bottom: solid 3px #87CEFA;
    }
  }

  a {
    display: block;
    background-color: white;
    width: 100px;
    height: 40px;
    border: 3px solid orange;
    border-radius: 5px;
    line-height: 35px;
    text-align: center;
    color: black;
    text-decoration: none;
    float: right;
    margin-top: 15px;
    margin-right: 70px;
  }

  a:hover {
    opacity: 0.8;
  }

  .edit_user {
    height: 600px;
    position: relative;
    padding-top: 10px;

    .field {
      width: 400px;
      height: 40px;
      font-size: 20px;
      margin-left: 100px;
      margin-top: 70px;
  
      #user_nickname {
        height: 40px;
        width: 500px;
        font-size: 20px;
        margin-top: 5px;
        border-radius: 20px;
        outline: none;
        padding-left: 15px;
        border: 1px solid #333333;
      }
  
      #user_email {
        height: 40px;
        width: 500px;
        font-size: 20px;
        margin-top: 5px;
        border-radius: 20px;
        outline: none;
        padding-left: 15px;
        border: 1px solid #333333;
      }
  
      #user_password {
        height: 40px;
        width: 500px;
        font-size: 20px;
        margin-top: 5px;
        border-radius: 20px;
        outline: none;
        padding-left: 15px;
        border: 1px solid #333333;
      }
  
      #user_password_confirmation {
        height: 40px;
        width: 500px;
        font-size: 20px;
        margin-top: 5px;
        border-radius: 20px;
        outline: none;
        padding-left: 15px;
        border: 1px solid #333333;
      }

      p {
        font-size: 14px;
        margin-left: 6px;
      }

      #user_current_password {
        height: 35px;
        width: 490px;
        font-size: 17px;
        margin-top: 5px;
        border-radius: 5px;
        outline: none;
        padding-left: 10px;
        border: 1px solid gray;
        margin-left: 6px;
      }
    }

    .submit {
      position: absolute;
      bottom: 60px;
      left: 210px;

      input {
        height: 40px;
        width: 300px;
        background-color: #87CEFA;
        border-radius: 10px;
        border: 1px solid ;
        color: white;
        cursor: pointer;
      }

      input:hover {
        opacity: 0.8;
      }
    }
  }

  .delete-account_btn {
    position: absolute;
    right: 25px;
    bottom: 20px;
    width: 120px;
    height: 30px;
    background-color: white;
    border: 1px solid red;
    border-radius: 5px;
    cursor: pointer;
  }
}








@media screen and (max-width: 550px) {
  .update-user_form {
    position: absolute;
    top: 70px;
    background-color: white;
    height: 315px;
    width: 70vw;
    border-radius: 10px;
    left: 55px;
  
    .update-user_title {
      width: 70%;
      margin-top: 10px;
      margin-left: 10px;
  
      p {
        font-family: sans-serif;
        font-size: 13px;
        line-height: 20px;
        border-bottom: solid 1px #87CEFA;
      }
    }
  
    a {
      display: block;
      background-color: lightgray;
      width: 50px;
      height: 20px;
      border: 1px solid lightgray;
      border-radius: 5px;
      line-height: 20px;
      text-align: center;
      color: white;
      text-decoration: none;
      font-size: 10px;
      position: absolute;
      top: -5px;
      right: -60px;
    }
  
    a:active {
      opacity: 0.8;
    }
  
    .edit_user {
      height: 300px;
      width: 70vw;
      position: absolute;
      top: 1px;
  
      .field {
        width: 70vw;
        height: 1px;
        font-size: 10px;
        margin-left: 20px;
        margin-top: 45px;
    
        #user_nickname {
          height: 20px;
          width: 86%;
          font-size: 10px;
          border-radius: 20px;
          outline: none;
          padding-left: 7px;
          padding-right: 7px;
          border: 1px solid #333333;
        }
    
        #user_email {
          height: 20px;
          width: 86%;
          font-size: 10px;
          border-radius: 20px;
          outline: none;
          padding-left: 7px;
          padding-right: 7px;
          border: 1px solid #333333;
        }
    
        #user_password {
          height: 20px;
          width: 86%;
          font-size: 10px;
          border-radius: 20px;
          outline: none;
          padding-left: 7px;
          padding-right: 7px;
          border: 1px solid #333333;
        }
    
        #user_password_confirmation {
          height: 20px;
          width: 86%;
          font-size: 10px;
          border-radius: 20px;
          outline: none;
          padding-left: 7px;
          padding-right: 7px;
          border: 1px solid #333333;
        }
  
        p {
          font-size: 10px;
          margin-left: 6px;
          padding-right: 30px;
          padding-top: 15px;
        }
  
        #user_current_password {
          height: 20px;
          width: 80%;
          font-size: 10px;
          border-radius: 5px;
          outline: none;
          padding-left: 7px;
          padding-right: 7px;
          border: 1px solid #333333;
        }
      }
  
      .submit {
        position: absolute;
        top: 325px;
        left: 40px;
  
        input {
          height: 30px;
          width: 400%;
          background-color: #87CEFA;
          border-radius: 10px;
          border: 1px solid ;
          color: white;
        }
  
        input:active {
          opacity: 0.8;
        }
      }
    }
  
    .delete-account_btn {
      position: absolute;
      right: 10px;
      bottom: 10px;
      width: 100px;
      height: 20px;
      background-color: white;
      border: 1px solid red;
      border-radius: 5px;
      cursor: pointer;
      font-size: 10px;
    }
  }
}